<h3>Recognize Address</h3>

<div class="row mt-5">

    <div class="col-md-8">
        <h5>Upload Here</h5>
        <button class="btn btn-danger float-right" (click)="clear()">Clear</button>

        <form class="mt-3" (ngSubmit)="onSubmit()">
            <input type="file" (change)="onUploadChange($event)" multiple accept=".png, .jpg, .jpeg" />
            <input type="submit" class="btn btn-success">
        </form>


        <div class="mt-3">
            <ul class="list-group" *ngFor="let result of processedResults">
                <li class="list-group-item">
                    <img src={{result.image}} alt="" id="img">
                    {{result.text}}
                </li>
            </ul>
        </div>
    </div>

    <div class="col-md bg-light">
        <h5>Uploaded Files</h5>

        <ul class="list-group" *ngFor="let file of uploadedFiles">
            <li class="list-group-item"> {{file.name}} </li>
        </ul>
    </div>

</div>